html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    background: rgb(234, 237, 255);
    background-size: cover;
    background-attachment: fixed; 
    font-family: 'Times New Roman', Times, serif, sans-serif;
    overflow-x: hidden;
    position: relative;
    width: 100%;
    min-width: 100%;
}

/*  Title part (global)  */

.title{
 background: black;
}

.title H1 {
    padding-left: 100px;
    padding-top: 50px;
    font-size: 20px;
    line-height: 2;
    color: #ffffff;
    font-weight: 900; 
    padding-bottom: 50px;
    margin-top: 0px;
}

.title p {
    font-size: 40px;
    font-weight: 900;
    line-height: 2;
    color: #fb0101;
    position: absolute;
    right:0;
    top:0;
    padding-right: 80px;
}

/* main content part global */

.mainbody{
    max-width: 1000px;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 100px;
}

.mainbody H1{
  background: linear-gradient(to bottom, red, rgb(141, 52, 52));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
font-size:32px;
font-weight:800;   
margin-bottom: 10px; 
}

.section{
    margin-bottom: 20px;
}

.mainbody {
 line-height: 1.5;
 font-size: 20px;
 font-weight: 540;
 word-spacing: 3px;
}

.paraone, .paratwo, .parathree, .parafour {
    padding: 20px 0 10px 15px;
}

p{
    padding: 20px 0 10px 15px;
}

.section li{
    padding-bottom: 10px;
}

.note {
    border-left: 6px solid #2196F3;
    background-color: #f1f1f1;
    padding: 10px 15px;
    margin: 20px 0;
}


/* for basic of web 3 part 1 (P1) */

.tocp1 {
    position: fixed;
    margin-top: 50px;
    margin-left: 30px;
    line-height: 3;
    padding-right: 50px;
    border-right:1px solid black;
}


#paraonep1 {
    padding-right: 40%;
}

.imgap1{
    width: 350px;
    height: 250px;
    position: absolute;
    top: 620px;
    right: 180px;
}



/* for basic of web 3 part 2 (P2) */

.tocp2 {
    position: fixed;
    margin-top: 50px;
    margin-left: 25px;
    line-height: 3;
    padding-right: 50px;
    border-right:1px solid black;
}

.p2 {
    padding-right:300px;
}
.paraonep2, .paratwop2, .parathreep2{
    padding-bottom: 20px;
    padding-left: 15px;
}

.imgap2{
    width: 350px;
    height: 250px;
    position: absolute;
    top:350px;
    right: 80px;
}

.imgbp2{
    width: 300px;
    height: 180px;
    position: absolute;
    top:1100px;
    right: 80px;
}

.imgcp2{
    width: 350px;
    height: 250px;
    position: absolute;
    top:1500px;
    right: 80px;
}

.imgdp2{
    width: 350px;
    height: 250px;
    position: absolute;
    bottom:350px;
    right: 80px;
}

.imgep2{
    width: 300px;
    height: 200px;
    position: absolute;
    bottom:0px;
    right: 80px;
}



/* for basic of web 3 part  3 (P3) */

.tocp3 {
    position: fixed;
    margin-top: 50px;
    margin-left: 25px;
    line-height: 3;
    padding-right: 50px;
    border-right:1px solid black;
}

h2 {
   font-size: 23px; 
}

.wallet-list a {
  margin-left: 6px;
  color: blue;
  text-decoration: underline;
}

.cryptowalletguide {
    width: 230px;
    position: relative;
    left: 350px;
    font-size: 23px; 
    font-weight: 600;
    margin-bottom: 50px;
    border-bottom:1px solid black ;
    padding-left: 8px;
}

.CEX {
    width: 130px;
    position: relative;
    left: 350px;
    font-size: 23px; 
    font-weight: 600;
    margin-bottom: 50px;
    border-bottom:1px solid black ;
    padding-left: 8px;
}

.DEX {
    width: 130px;
    position: relative;
    left: 350px;
    font-size: 23px; 
    font-weight: 600;
    margin-bottom: 50px;
    border-bottom:1px solid black ;
    padding-left: 8px;
}


.imgap3{
  width: 400px;
    height: auto;
   margin-right: 100px;
   margin-top: 50px;
}

.imgbp3{
width: 400px;
    height: auto;
     margin-top: 50px;
}

.paraonep3 {
    width: 500px;
}

.videoap3{
    position: absolute;
    top:1500px;
    left:900px;
    width: 500px;
    height: auto;
}

.parentap3 {
position: relative;
}

.imgcp3{
    width: 350px;
    height: 250px;
    position: absolute;
    top: 350px;
    right: 0px;
}

.wallet-list a {
    display: block;       
    padding: 10px 15px;    
    border: 1px solid #000; 
    border-radius: 5px;    
    text-align: center;   
    background: #fff;      
    box-sizing: border-box; 
}


/* for basic of web 3 part 4 (p4)  */

.tocp4 {
    position: fixed;
    margin-top: 50px;
    margin-left: 25px;
    line-height: 3;
    padding-right: 50px;
    border-right:1px solid black;
}


/* for basic of web 3 part 5 (p5)  */

.tocp5 {
    position: fixed;
    margin-top: 50px;
    margin-left: 25px;
    line-height: 3;
    padding-right: 50px;
    border-right:1px solid black;
}


/* for basic of web 3 part 6 (p6)  */

/* ========== MOBILE RESPONSIVENESS ========== */


/* Tablet and below (1024px and below) */
@media screen and (max-width: 1024px) {
    .mainbody {
        margin-left: 200px;
        margin-right: 50px;
    }

    .tocp1, .tocp2, .tocp3, .tocp4, .tocp5 {
        margin-left: 20px;
        padding-right: 30px;
        font-size: 14px;
        line-height: 2.5;
    }

    /* Images Part 1 */
    .imgap1 {
        width: 300px;
        height: 225px;
        right: 50px;
    }

    /* Images Part 2 */
    .imgbp2, .imgcp2, .imgdp2, .imgep2 {
        width: auto;
        max-width: 300px;
        height: auto;
        right: 50px;
    }

    /* Images Part 3 */
    .imgap3, .imgbp3 {
        width: 300px;
        height: auto;
    }

    .videoap3 {
        left: 700px;
        width: 300px;
    }
}

/* Mobile landscape and smaller tablets (768px and below) */
@media screen and (max-width: 768px) {
    /* Prevent horizontal scroll */
    body {
        overflow-x: hidden;
        width: 100%;
        max-width: 100vw;
    }

    /* Title adjustments */
    .title {
        width: 100%;
        overflow: hidden;
    }

    .title H1 {
        padding-left: 30px;
        padding-top: 30px;
        font-size: 18px;
        padding-bottom: 30px;
        line-height: 1.6;
        font-weight: 900;
    }

    .title p {
        font-size: 28px;
        padding-right: 30px;
        text-align: right;
        position: static;
        padding-bottom: 20px;
        font-weight: 900;
    }

    /* Main body adjustments */
    .mainbody {
        margin: 20px 15px;
        max-width: calc(100% - 30px);
        width: calc(100% - 30px);
        font-size: 18px;
        overflow-x: hidden;
        box-sizing: border-box;
    }

    .mainbody H1 {
        font-size: 28px;
        font-weight: 800;
        margin-bottom: 15px;
    }

    h2 {
        font-size: 22px;
        font-weight: 700;
    }

    /* TOC adjustments */
    .tocp1, .tocp2, .tocp3, .tocp4, .tocp5 {
        position: static;
        margin: 20px 15px 30px 15px;
        padding: 15px;
        border: 1px solid black;
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.7);
        line-height: 2;
        font-size: 16px;
        width: calc(100% - 30px);
        box-sizing: border-box;
    }

    /* Section adjustments */
    .section {
        margin-bottom: 30px;
        width: 100%;
        overflow: hidden;
    }

    /* Paragraph padding - CRITICAL FIX for full width */
    .paraone, .paratwo, .parathree, .parafour,
    .paraonep1, .paratwop1, .parathreep1, .parafourp1,
    .paraonep2, .paratwop2, .parathreep2,
    .paraonep3, .paratwop3, .parathreep3 {
        padding: 15px !important;
        padding-right: 15px !important;
        width: 100% !important;
        max-width: 100% !important;
        box-sizing: border-box;
    }

    /* Remove specific paragraph right padding */
    #paraonep1 {
        padding-right: 15px !important;
        width: 100% !important;
    }

    /* P2 class padding fix */
    .p2 {
        padding-right: 15px !important;
        width: 100% !important;
        max-width: 100%;
    }

    /* General paragraph fixes */
    p {
        padding: 15px !important;
        font-size: 18px;
        font-weight: 500;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }

    /* Images adjustments for all parts */
    .imgap1, .imgap2, .imgbp2, .imgcp2, .imgdp2, .imgep2,
    .imgap3, .imgbp3, .imgcp3 {
        position: static !important;
        width: 100% !important;
        max-width: 100% !important;
        height: auto !important;
        margin: 20px 0 !important;
        display: block;
        left: auto !important;
        right: auto !important;
        top: auto !important;
        bottom: auto !important;
        box-sizing: border-box;
    }

    /* Video adjustments */
    .videoap3 {
        position: static !important;
        width: 100% !important;
        max-width: 100%;
        margin: 20px 0 !important;
        display: block;
        left: auto !important;
        height: auto;
    }

    /* Guides and sections - prevent overflow */
    .cryptowalletguide, .CEX, .DEX {
        left: 0 !important;
        margin-left: 0;
        width: auto;
        max-width: calc(100% - 20px);
        position: static;
        font-size: 22px;
        font-weight: 700;
    }

    /* Wallet links */
    .wallet-list {
        width: 100%;
        max-width: 100%;
        overflow: hidden;
    }

    .wallet-list a {
        margin-left: 0 !important;
        display: block;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        margin-bottom: 10px;
    }

    /* Note boxes */
    .note {
        margin: 20px 0;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }

    /* Parent container fixes */
    .parentap3 {
        width: 100%;
        max-width: 100%;
        overflow: hidden;
        position: static;
    }
}

/* Mobile portrait (480px and below) */
@media screen and (max-width: 480px) {
    /* Title adjustments */
    .title H1 {
        padding-left: 15px;
        padding-top: 20px;
        font-size: 16px;
        padding-bottom: 20px;
        line-height: 1.5;
        font-weight: 900;
    }

    .title p {
        font-size: 24px;
        padding-right: 15px;
        padding-bottom: 15px;
        font-weight: 900;
    }

    /* Main body adjustments */
    .mainbody {
        margin: 15px 10px;
        max-width: calc(100% - 20px);
        width: calc(100% - 20px);
        font-size: 16px;
    }

    .mainbody H1 {
        font-size: 24px;
        font-weight: 800;
    }

    h2 {
        font-size: 20px;
        font-weight: 700;
    }

    /* Paragraph styling */
    p {
        font-size: 16px !important;
        font-weight: 500;
        padding: 12px !important;
    }

    .paraone, .paratwo, .parathree, .parafour,
    .paraonep1, .paraonep2, .paraonep3 {
        padding: 12px !important;
    }

    /* TOC adjustments */
    .tocp1, .tocp2, .tocp3, .tocp4, .tocp5 {
        margin: 15px 10px 20px 10px;
        padding: 12px;
        font-size: 15px;
        line-height: 1.8;
        width: calc(100% - 20px);
    }

    /* Guides and sections */
    .cryptowalletguide, .CEX, .DEX {
        font-size: 20px;
        font-weight: 700;
        margin-left: 0;
        max-width: 100%;
    }

    /* Images - ensure they don't overflow */
    .imgap1, .imgap2, .imgbp2, .imgcp2, .imgdp2, .imgep2,
    .imgap3, .imgbp3, .imgcp3 {
        max-width: calc(100vw - 20px) !important;
    }

    /* Wallet links */
    .wallet-list a {
        font-size: 15px;
        padding: 8px 12px;
    }
}